/* pagina para hacer gradientes visualmente mas facil
https://cssgradient.io/ */
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(4,121,195,1) 58%, rgba(0,212,255,1) 100%); 
    color: azure;
    font-family: sans-serif;
}
main{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}

.section1{
    background-color: rgb(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 10px;
}

h1{
    text-align: center;
}

button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
button:hover{
    cursor: pointer; /* convierte el cursor flecha en un manito al pasar encima */
}

.section2{
    background-color: rgb(255, 255, 255, 0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 250px;
    height: 400px;
    padding: 0 20px;
}

.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 10px;
    padding: 8px 20px;
    box-sizing: border-box;
}

footer{
    text-align: center;
}